/* Overall */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cce6ff;
}

.empty-bar {
    height: 50px;
    background: url('Images/EmptyBar.png') center/cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .empty-bar {
        flex-direction: column;
    }
}

.logo img {
    max-height: 30px;
    margin-right: 6px;
    object-fit: contain;
}

.nav-header {
    margin: 0;
    font-size: 1.5em;
    color: #fff; 
    letter-spacing: 2px;
    margin-right: 44em; 
}

.open-text {
    color: transparent; 
    -webkit-text-stroke: 1px #fff; 
}

.nav-header .space-text {
    color: #1d8eff; 
}

.button-text {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #fff; 
    padding: 7px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: #0077cc;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
    font-size: 1.2em;
}

nav a:hover {
    color: #004080;
    font-size:20px;
    transition: all 500ms;
    font-size-adjust: 20px;
}
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #0077cc; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.button-Setting {
    background-color: #00509e;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    height: 100%;
}

.button-Setting:not(:last-child) {
    margin-right: 10px;
}

.button-Setting:hover {
    background-color: #005080;
}

.user-actions {
    margin-left:-20px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    position: relative

}

.background-layer {
    position: absolute;
    background-color: #e3f1ff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-layer {
    z-index: 1;
}

.problem-description {
    margin-top: 20px;
    font-size: 1.1em;
}

nav .dropdown {
    position: relative;
}
nav .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

nav .dropdown a {
    display: flex;
    align-items: center;
}

nav .dropdown .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; 
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease-in-out; 
}

.arrow-icon {
    font-size: 12px; 
    margin-left: 5px;
    transition: transform 0.4s ease-in-out;
  }

  a:hover .arrow-icon {
    transform: rotate(180deg);
  }

footer {
    background-color: #ffffff;
    padding: 30px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    align-items: center;
}

.footer-links, .footer-help {
    padding: 0 15px;
}

.footer-links h2, .footer-help h2 {
    color: #004080;
    margin-bottom: 10px;
}

.vertical-line {
    border-left: 1px solid #000000;
    height: 60px; /* Adjust as needed */
    margin: 0 15px;
}

.footer-links ul, .footer-help ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow multiple rows */
}

.footer-links li a, .footer-help li a {
    color: #747474;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

.footer-links li a:hover, .footer-help li a:hover {
    color: #004080; 
    text-decoration: underline; 
}

.footer-newsletter {
    display: flex;
    align-items: center;
}

.footer-newsletter a {
    color: #000000;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
}

.footer-logo img {
    max-height: 7em;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.footer-social a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social i {
    margin-right: 2px;
}

.footer-social a:hover {
    color: #004080;
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    color: #747474; 
    font-size: 14px;
}

/* Mainpagina */
.logo-text {
    flex: 1;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 10%;
    margin-bottom: 4%;
    font-size: 24px;
    text-align: center;
}

.slogan {
    color: #004080; 
    font-size: 1.8em;
    font-weight: normal;
    width: 120%;
}

.speech {
    color:#747474;
    font-weight: lighter;
    width: 120%;
}

.logo-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
}

.logo-images img {
    max-width: 200px; 
    height: auto;
    display: block;
}

.phone-app-container {
    align-self: flex-start;
    margin-top: 3%;
    margin-left: 1%;
}

.download-buttons {
    margin-top: 170%;
}

.download-buttons a img {
    width: 100%;
    margin-top: 4%;
}

.marketing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    margin-top:15%;
}

.marketing-points {
    flex: 1;
    padding: 20px;
}

.marketing-points-right {
    border-left: 2px solid #0077cc;
}

.marketing-bullet {
    font-size: 1.35em;
    color: #004080;
    margin-bottom: 10px;
}

.marketing-info {
    color:#747474;
    font-weight: lighter;
    font-size: 0.85em;
    margin: 0;
}

.main-booking {
    justify-content: center;
    text-decoration: none;
    margin-left: 19%;
}

.marketing-booking {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-button {
    font-size: 1.2em;
    margin-top: 1em;
}

/* Map */
.text {
    position: flex;
    color:#646464;
    font-size: larger;
    font-weight: lighter;
}
#map-container {
    width: 100%;
    height: 450px;
    margin: 20px 0;
    position: relative; 
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd; 
    z-index:0;
}

#legenda-container {
    position: absolute;
    margin-top: -12.2%;
    margin-left: 0.2%;
    background-color: white;
    opacity: 0.8;
    padding: 0.5%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.legenda-main {
    margin: 4% 1%;
    font-weight: bold;
}
.legenda-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legenda-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/* How it works*/
.how-it-works {
    max-width: 800px;
    margin: 0 auto;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.step-content{
    color:#747474;
    font-weight: lighter;
    font-size: 1.1em;
    margin: 0;
}


/* Business */
* {
    box-sizing: border-box;
  }
  
  .container {
    max-width: 800px; 
    margin: 0 auto; 
    overflow: hidden; 
    position:relative;
}

.mySlides {
display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.cursor {
    cursor: pointer;
    }

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #0077cc;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; 
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row:after {
content: "";
display: table;
clear: both;
}

.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

/* About us */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
background-color: white;
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

/* Locations */
.responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Voeg wat marge toe voor betere opmaak */
}
.locations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.locations-image {
    max-width: 70%; /* Pas de breedte naar wens aan */
    height: auto;
    margin-top: 20px; /* Voeg wat bovenmarge toe */
}

/* LegalTerms */
.main-terms {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    background-color: rgb(227, 244, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.terms-container {
margin-top: 20px;
font-size: 1.1em;
line-height: 1.6;
font-weight: lighter;
color: #747474;
}

.terms-text {
    color:black;
}

/* Contact */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: -180px; 
}

.contact-info,
.contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; 
}

.contact-info {
    padding-right: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #004080; 
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
}

.background-image {
    background-size: contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.content-layer {
    z-index: 1;
}

/* FAQ */
.search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    z-index: 2; 
}

.search-bar {
    border-radius: 50em;
    padding: 10px;
    width: 300px; 
}

.FAQ-container {
    display: flex;
}

.FAQ-Started,
.FAQ-Reservations,
.FAQ-Account {
    flex: 1;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 200px; 
    width: 100%;
    margin-right: 3px;
    margin-left: 3px;
}

.FAQ-text {
    color: #004080; 
    font-size: 1.8em;
    font-weight: normal;
}

.FAQ-content {
    color:#747474;
    font-weight: 60;
    font-size: 1.2em;
}



/* Login */
#login-container{
    max-width: 500px;
    margin: 0 auto;
}

#account-container {
    display: none;
}

/* Sign up */
.create-account-container {
    max-width: 600px;
    margin: -20px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 75%;
    width: 100%;
    height: auto;
}

.create-account-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-container form label {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    align-items: center;
}

.create-account-container form input[type="checkbox"] {
    margin-left: 10px;
}
.create-label {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: rgb(212, 212, 212);
    border-width: medium;
}
.create-account-container h1 {
    position: relative;
    text-align: center;
    color: #004080;
}

.create-account-container h1::before,
.create-account-container h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 25%;
    height: 2px;
    background-color: #004080;
}

.create-account-container h1::before {
    right: 75%;
}

.create-account-container h1::after {
    left: 75%; 
}

/* Book Now */
.book-now-container {
    flex: 1;
    padding: 20px;
}

.map-container {
    flex: 1;
    position: relative;
}

#map {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}

/* Settings */
/*.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.settings-option input[type="color"] {
    width: 80px;
    height: 50px; 
}*/
